<div id="menu">
    <div class="pure-menu">
        <a id="logo"  class="pure-menu-heading" href="#/view1"><span class="wm_span">ᠣᠶᠣᠨ</span> <span class="wm_span">ᠲᠣᠯᠢ</span> 奥云词典</a>

        <ul class="pure-menu-list">
            <li id="menu-item-1" class="pure-menu-item">
                <a href="#/view2" class="pure-menu-link">汉文→传统蒙古文</a>
            </li>

            <li id="menu-item-2" class="pure-menu-item">
                <a href="#/view3" class="pure-menu-link">传统蒙古文→汉文</a>
            </li>

            <li id="menu-item-3" class="menu-item-divided pure-menu-selected">
                <a href="#/view4" class="pure-menu-link">汉文→西里尔蒙古文</a>
            </li>

            <li id="menu-item-4" class="pure-menu-item">
                <a href="#/view5" class="pure-menu-link">西里尔蒙古文→汉文</a>
            </li>

            <li id="menu-item-5" class="pure-menu-item">
                <a href="#/view6" class="pure-menu-link">汉文名→蒙古文名</a>
            </li>
        </ul>
    </div>
</div>

<div id="main">
    <div id="title">
        <div style="margin-left: 64px; margin-top:16px; color: #fff; z-index: 9;">
            ←选择语言
        </div>
    </div>
    <div id="title2"></div>
    <div class="content">
        <div ng-if="!haveResults()">

            <div align="center" style="margin: 10px;"><img src="./img/logo2.png" alt="奥云词典"><p>汉文→西里尔蒙古文</p></div>
        </div>
        <form class="pure-form pure-g" style="margin-left: -1em; margin-right: -1em;">
            <div class="pure-u-3-4">
                <input ng-model="inputText" ng-focus="focus()" ng-blur="blur()" class="pure-input-1" type="text" placeholder="关键词">
            </div>
            <div class="pure-u-1-4">
                <button ng-click="submit()" class="pure-input-1 pure-button pure-button-primary">查询</button>
            </div>
        </form>
        <br>
        <div>
            <p class="loading" align="center" ng-if="isLoading">查询中 <img width="20" src="./img/loading.gif" alt="加载中..."></p>
        </div>
        <div class="table-responsive" ng-if="haveResults()">
            <table border="1" class="mq-table pure-table-bordered pure-table">
                <thead>
                <th scope="col" colspan="1">#</th>
                <th scope="col" colspan="1">汉文</th>
                <th scope="col" colspan="1">西里尔蒙古文</th>
                </thead>
                <tbody>
                <td scope="col" colspan="3" style="background: #1f8dd6; color: #ffffff;" ng-if="results.length>0">解释</td>
                <tr ng-repeat="result in results">
                    <td style="padding: 0.5em; width: 30px;">
                        <p class="text-cn">{{$index+1}}</p>
                    </td>
                    <td style="width: 30px;">
                        <p class="text-cn">{{result.chinese}}</p>
                    </td>
                    <td>
                        <p class="text-cyril">{{result.newMog}}</p>
                    </td>
                </tr>
                <td scope="col" colspan="3" style="background: #1f8dd6; color: #ffffff;" ng-if="aboutss.length>0">相关词条</td>
                <tr ng-repeat="about in aboutss">
                    <td style="padding: 0.5em; width: 20px;">
                        <p class="text-cn">{{$index+1}}</p>
                    </td>
                    <td style="width: 30px;">
                        <p class="text-cn">{{about.chinese}}</p>
                    </td>
                    <td>
                        <p class="text-cyril">{{about.newMog}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footerSpa"></div>
</div>
<div id="footer" ng-class="{true:'footer',false:'footerFalse'}[mainHorizontal]">
    <p align="center">内蒙古自治区蒙古文信息处理技术重点实验室（内蒙古大学计算机学院）和内蒙古奥云信息技术服务有限公司 联合研制</p>
</div>
