<div id="menu">
    <div class="pure-menu">
        <a id="logo"  class="pure-menu-heading" href="#/view1">奥云词典</a>
        <ul class="pure-menu-list">
            <li id="menu-item-1" class="menu-item-divided pure-menu-selected">
                <a href="#/view2" class="pure-menu-link">汉文-传统蒙古文</a>
            </li>

            <li id="menu-item-2" class="pure-menu-item">
                <a href="#/view3" class="pure-menu-link">传统蒙古文-汉文</a>
            </li>

            <li id="menu-item-3" class="pure-menu-item">
                <a href="#/view4" class="pure-menu-link">汉文-西里尔蒙古文</a>
            </li>

            <li id="menu-item-4" class="pure-menu-item">
                <a href="#/view5" class="pure-menu-link">西里尔蒙古文-汉文</a>
            </li>
        </ul>
    </div>
</div>

<div id="main">
    <div id="title" >
        <div style="margin-left: 64px; margin-top:16px; color: #fff">
            ←选择语言
        </div>
    </div>
    <div id="title2"></div>

    <div class="content">
        <div ng-if="!haveResults()">

            <div align="center" style="margin: 10px;"><img src="./img/logo.png" alt="奥云词典"><p style="font-size:32px; line-height: 32px; margin: 0;">奥云词典</p><p>汉文-传统蒙古文</p></div>
        </div>
        <form class="pure-form pure-g" style="margin-left: -1em; margin-right: -1em;">
            <div class="pure-u-3-4">
                <input ng-model="inputText" ng-focus="focus()" ng-blur="blur()" class="pure-input-1" type="text" placeholder="关键词">
            </div>
            <div class="pure-u-1-4">
                <button ng-click="submit()" class="pure-input-1 pure-button pure-button-primary">查询</button>
            </div>
        </form>
        <br>


        <div>
            <p class="loading" align="center" ng-if="isLoading">查询中 <img width="20" src="./img/loading.gif" alt="加载中..."></p>
        </div>
        <!--<div ng-if="haveResults()">-->
        <div style="height: 400px;margin-left: -1em; margin-right: -1em;" class="table-responsiveMongolia" >
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="wm3" style="height: 310px; font-size: 20px;">
                                <div class="table-responsiveMongolia-tab">
                                    ᠳᠠᠭᠠᠭᠠᠬᠤ ᠂ ᠲᠡᠰᠬᠦ ᠳᠠᠭᠠᠭᠠᠬᠤ ᠂ ᠲᠡᠰᠬᠦ ᠳᠠᠭᠠᠭᠠᠬᠤ ᠂ ᠲᠡᠰᠬᠦ ᠳᠠᠭᠠᠭᠠᠬᠤ ᠂ ᠲᠡᠰᠬᠦ
                                </div>
                                <div class="table-responsiveMongolia-tab" ng-if="haveResult()">
                                    &nbsp;&nbsp;&nbsp;&nbsp;解释
                                </div>
                                <div ng-repeat="result in results" style="height: 310px; float: left; border-left: 1px solid #4c4c4c;">
                                    <div style="height: 30px; float: left;">
                                        <p>{{$index+1}}</p>
                                    </div>
                                    <div style="height: 80px; float: left;">
                                        <p>{{result.chinese}}</p>
                                    </div>
                                    <div style="height: 200px; float: left;">
                                        <p>{{result.mongolRevise}}</p>
                                    </div>
                                </div>
                                <div class="table-responsiveMongolia-tab" ng-if="haveAbout()">
                                    &nbsp;&nbsp;&nbsp;&nbsp;相关词条
                                </div>
                                <div ng-repeat="result in abouts" style="height: 310px; float: left;border-left: 1px solid #4c4c4c">
                                    <div style="height: 30px; float: left;">
                                        <p>{{$index+1}}</p>
                                    </div>
                                    <div style="height: 80px; float: left;">
                                        <p>{{result.chinese}}</p>
                                    </div>
                                    <div style="height: 200px; float: left;">
                                        <p>{{result.mongolRevise}}</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footerSpa"></div>
</div>
<div id="footer" ng-class="{true:'footer',false:'footerFalse'}[mainHorizontal]">
    <p align="center">Copyright@All Right Reserved 内蒙古奥云信息技术服务有限公司</p>
    <p align="center">地址：内蒙古呼和浩特市 邮编：010021</p>
</div>